:root {
  --border-radius: 6px;
  --gray-50: #DBDBDB;
  --gray-400: #8A8A8A;
  --gray-600: #5C5C5C;
  --gray-800: #2E2E2E;
  --gray-900: #141414;
  --gray-950: #0A0A0A;
  --main-color: #FFFFFF;
  --content-base-primary: #EEEEEE;
  --token-text-primary: #F8F8F8;
  --token-button-secondary-gray: #3B3D41;
  --token-button-white: #1E1F21;
  --token-button-primary: #FF5A1F;
  --header-height: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  background-color: black;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



