.passwordGeneratorSection {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - var(--header-height));
}

.passwordGeneratorContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.title {
		font-family: var(--font-typeface-book);
		font-size: 64px;
		color: var(--main-color);
	}
}

.passwordGenerator {
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 24px;
	color: var(--content-base-primary);
}

.inputSection {
	border-bottom: 1px solid var(--gray-800);
	display: grid;
	gap: 16px;
	padding: 20px;

	.title {
		font-family: var(--font-typeface-book);
		font-size: 16px;
		line-height: 24px 24px;
	}

	.label {
		display: flex;
		align-items: center;
		gap: 13px;
		font-family: var(--font-typeface-regular);
	}
}

.buttonSection {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px;
}

.results {
	overflow: hidden;

	.titleResults {
		font-family: var(--font-typeface-book);
		font-size: 16px;
		line-height: 24px;
	}
	
	.passwordList {
		position: relative;
		display: grid;
		align-items: center;
		justify-content: start;
		gap: 16px;
		margin-top: 16px;
		max-height: 240px;
		max-width: 545px;
		overflow-y: auto;
		overflow-x: hidden;

		.password {
			width: 500px;
			overflow: hidden;
  		white-space: nowrap;
  		text-overflow: ellipsis;
		}
	}
	
	.passwordItem {
		border-radius: var(--border-radius);
		background-color: var(--gray-900);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
	}
}

